.dashboard-main-body {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 100%;
  padding: 24px 32px;
  box-sizing: border-box;
  background: url("../../assets/images/bgImg.png") 0 0 repeat;
  background-size: 100% 100%;

  .card-container {
    display: flex;
    flex-direction: column;
    width: 686px;
    height: 390px;
    background-color: #0A2043;
    margin-bottom: 24px;

    .card-title {
      display: flex;
      // align-items: center;
      justify-content: center;
      margin: 40px 0 16px 0;

      // margin-top: 
      .icon-container {
        width: 87px;
        height: 19px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .title-content {
        color: #2AA7D3;
        font-size: 28px;
        margin: 0 20px;
      }
    }
  }

  .equipment-info {
    margin-top: 50px;
    font-size: 24px;
    color: #2AA7D3;
    text-align: center;
  }
}