.card {
  border-radius: 8px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid #054072;
}

/* .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */